* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
}
.secondary-font {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
}

.yellow-clo {
  color: #e95a08;
}

/* nav links */

nav {
  width: 1140px;
  margin: 30px auto 226px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  display: flex;
  gap: 25px;
}
.navbar-list ul {
  display: flex;
  gap: 48px;
}
.navbar-list ul li {
  list-style: none;
}
.navbar-list ul li a {
  text-decoration: none;
  color: black;
}
.navbar-list > #home {
  color: #252432;
}
#shop,
#about-link {
  color: #8987a1;
}
.cart-bar a {
  text-decoration: none;
  color: black;
}

/* banner-section */
.banner-section {
  width: 1140px;
  margin: 0 auto;

  display: flex;
  gap: 35px;
}
.banner-left {
  margin-top: 120px;
}

/* plans section */
.plans {
  text-align: center;
  margin: 120px 0 49px 0;
}
.plans h2 {
  margin-bottom: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1140px;
  margin: 0 auto;
  gap: 20px;
  row-gap: 30px;
}
.card-details {
  width: 100%;
  text-align: center;
}
.card-box img {
  width: 100%;
}
.card-box p {
  font-size: 22px;
  font-weight: 500;
}
.card-box b {
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.card-box button {
  background-color: #e95a08;
  height: 50px;
  width: 100%;
  border: none;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: aliceblue;
}

/* flower lovers section */
.flower-lovers {
  width: 1140px;
  margin: 230px auto 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  position: relative;
}
.flower-lovers-details h2 {
  width: 350px;
  margin-bottom: 50px;
}
.flower-lovers-details li {
  margin-bottom: 30px;
}
/* .truth-badge {
  bottom: 30px;
  box-sizing: border-box;
  position: absolute; */

.truth-badge img {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  position: absolute;
  top: -150px;
  left: 425px;
}

/* latest deals */
#latest-details {
  text-align: center;
}
#latest-details p {
  width: 888px;
  margin: 16px 0 120px 300px;
}
.latest-photos {
  width: 1140px;
  height: 423px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 28px;
}
.latest-photo-column {
  width: 368px;
}
.latest-photo-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 80px;
  color: white;
  height: 48%;
  border-radius: 22px;
  margin-bottom: 4%;
  line-height: 30px;
}
.latest-photo-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 80px;
  height: 48%;
  border-radius: 22px;
  line-height: 30px;
}
.latest-photo-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 170px;
  border-radius: 22px;
  width: 753px;
  line-height: 40px;
}

/* footer section */
.footer-img {
  width: 100%;
  height: 533px;
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.footer-img h2 {
  color: white;
  margin-bottom: 23px;
}
.footer-img input {
  width: 664px;
  height: 50px;
  border: none;
  padding-left: 20px;
  margin-bottom: 23px;
}
.footer-img button {
  width: 186px;
  height: 50px;
  border: none;
  background-color: #e95a08;
  color: white;
  margin-left: -5px;
}

/* second footer */
.second-footer {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.column-1 p {
  width: 360px;
  margin-top: 16px;
}

.column-2 ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.column-2 ul li {
  list-style: none;
  line-height: 60px;
}
.column-3 ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.column-3 ul li {
  list-style: none;
  line-height: 60px;
}
.icon-row img {
  margin-right: 24px;
}

/* Responsive  */
@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  nav {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin: 30px auto 50px 40px;
    align-items: center;
  }

  nav img {
    height: 38px;
  }
  .navbar {
    width: 100%;
  }
  .navbar-list {
    gap: 0;
    margin-top: 20px;
  }
  .navbar-list li a {
    display: none;
  }
  .banner-section {
    width: 100%;
    flex-direction: column-reverse;
  }

  .banner-right img {
    width: 110%;
  }
  .banner-left {
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  .banner-left h2 {
    font-size: 40px;
  }
  .banner-left p {
    font-size: 14px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .flower-lovers {
    width: 100%;
    flex-direction: column;
  }
  .plans {
    padding-left: 25px;
    margin-top: 65px;
  }
  .plans p {
    font-size: 14px;
    width: 350px;
    padding-left: 30px;
  }
  .card-box img {
    width: 100%;
  }
  .cards {
    margin: 0 auto;
    padding-left: 35px;
  }
  .flower-lovers {
    margin-top: 40px;
    gap: 30px;
  }
  .flower-lovers img {
    width: 100%;
    margin-left: 30px;
  }
  .truth-badge img {
    display: none;
  }
  .flower-lovers-details ul li {
    font-size: 14px;
    width: 360px;
  }
  .flower-lovers h2 {
    font-size: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .flower-lovers ul {
    font: 14px;
    padding-left: 40px;
  }
  .second-footer {
    width: 100%;
    flex-direction: column;
    margin: 20px;
  }
  .footer-img {
    margin-top: 20px;
    padding-top: 80px;
    height: 276px;
    width: 110%;
    flex: 1;
  }
  .footer-img h2 {
    font-size: 30px;
  }
  .footer-img input {
    width: 300px;
  }
  .footer-img button {
    width: 80px;
  }
  #latest-details {
    font-size: 22px;
  }
  #latest-details p {
    width: 350px;
    font-size: 14px;
    margin: 20px;
  }
  .latest-photos {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 20px 60px 20px;
    gap: 20px;
    width: 100%;
    height: 581px;
  }
  .latest-photo-column {
    width: 380px;
    height: 100%;
  }
  .latest-photo-1 {
    padding-top: 50px;
    height: 181px;
  }
  .latest-photo-2 {
    padding-top: 50px;
    border-radius: 0;
  }
  .latest-photo-3 {
    padding-top: 60px;
    width: 380px;
  }
  .icon-row {
    margin-bottom: 50px;
  }
}
