* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
}
.secondary-font {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.5);
}

.yellow-clo {
  color: #e95a08;
}

/* nav links */
.navbar {
}
nav {
  width: 1140px;
  margin: 30px auto 226px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  display: flex;
  gap: 25px;
}
.navbar-list ul {
  display: flex;
  gap: 48px;
}
.navbar-list ul li {
  list-style: none;
}
.navbar-list ul li a {
  text-decoration: none;
  color: black;
}
.navbar-list > #home {
  color: #252432;
}
#shop,
#about-link {
  color: #8987a1;
}
.cart-bar a {
  text-decoration: none;
  color: black;
}

/* banner-section */
.banner-section {
  width: 1140px;
  margin: 0 auto;

  display: flex;
  gap: 35px;
}
.banner-left {
  margin-top: 120px;
}

/* plans section */
.plans {
  text-align: center;
  margin: 120px 0 49px 0;
}
.plans h2 {
  margin-bottom: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1140px;
  margin: 0 auto;
  gap: 20px;
  row-gap: 30px;
}
.card-details {
  width: 100%;
  text-align: center;
}
.card-box img {
  width: 100%;
}
.card-box p {
  font-size: 22px;
  font-weight: 500;
}
.card-box b {
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.card-box button {
  background-color: #e95a08;
  height: 50px;
  width: 100%;
  border: none;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: aliceblue;
}

/* flower lovers section */
.flower-lovers {
  width: 1140px;
  margin: 230px auto 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.flower-lovers-details h2 {
  width: 350px;
  margin-bottom: 50px;
}
.flower-lovers-details li {
  margin-bottom: 30px;
}

/* Responsive  */
@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  nav {
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    margin: 30px auto 50px 40px;
    align-items: center;
  }
  .navbar {
    width: 100%;
  }
  .navbar-list {
    gap: 0;
    margin-top: 20px;
  }
  .navbar-list li a {
    display: none;
  }
  .banner-section {
    width: 100%;
    flex-direction: column-reverse;
  }
  .banner-right {
  }
  .banner-right img {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
  }
  .banner-left {
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  .banner-left p {
    font-size: 14px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .flower-lovers {
    width: 100%;
    flex-direction: column;
  }
  .plans {
    padding-left: 25px;
  }
  .plans p {
    font-size: 14px;
  }
  .card-box img {
    width: 100%;
  }
  .cards {
    margin: 0 auto;
    padding-left: 35px;
  }
  .flower-lovers {
    margin-top: 40px;
    gap: 30px;
  }
  .flower-lovers img {
    width: 400px;
    margin-left: 30px;
  }
  .flower-lovers h2 {
    font-size: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .flower-lovers ul {
    font: 14px;
    padding-left: 40px;
  }
}
